<input type="text" [(ngModel)]="firstname" name="firstname" placeholder="First Name..">
<input type="text" [(ngModel)]="lastname" name="lastname" placeholder="Last Name..">
<input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone..">
<input type="text" [(ngModel)]="mobile" name="mobile" placeholder="Mobile..">
<input type="text" [(ngModel)]="email" name="email" placeholder="E-mail..">
<textarea [(ngModel)]="address" name="address" placeholder="Address.."></textarea>
<input type="submit" value="Add a Contact Detail" (click)="addDetail()">

<ul *ngFor="let detail of details | async">
  <li (click)="getDetail(detail.id)">
    Full Name: <strong>{{ detail.data.firstname}}</strong>
    <strong>{{ detail.data.lastname}}</strong>(<a href="#" (click)="deleteDetail(detail.id)">delete</a>)<br>
    Phone #: {{ detail.data.phone}}<br> 
    Mobile #: {{ detail.data.mobile}}<br> 
    E-mail: {{ detail.data.email}}<br> 
    Address: {{ detail.data.address}}<br> 
    <br>
  </li>
</ul>

  <h1>A specific contact detail:</h1>

  Full Name: {{ (detail | async)?.firstname }} {{ (detail | async)?.lastname }}<br>
  Phone #: {{ (detail | async)?.phone }}<br>
  Mobile #: {{ (detail | async)?.mobile }}<br>
  E-mail: {{ (detail | async)?.email }}<br>
  Address: {{ (detail | async)?.address }}<br>


